/* body {
    border: 0ch;
    margin: 0;
} */

.container {
    font-style: normal;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    width: 414px;
    height: 736px;
    border: solid black 1px;
    background-color: black;
    background: linear-gradient(rgb(130, 180, 214), rgb(86, 86, 104));
}

.header {
    flex-wrap: wrap;
    display: flex;
    margin: 1rem;

    justify-content: space-between;
    width: 100%;
    height: 1%;



}

.headerleft {
    justify-content: left;


}

.headermiddle {
    justify-content: space-around;
    color: white;



}

.headerright {
    justify-content: right;

    color: white;
}

.fas {
    color: white;
}


.body {
    max-height: 100%;
    margin: 1rem;
    width: 100%;
    height: 40%;
}

.body img {
    padding: auto;
    height: 20rem;
    width: 100%;
}




.footer {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-top: 1rem;
    justify-content: space-between;
    width: 100%;
    height: 20%;
}

.footer1 {
    display: flex;

    justify-content: space-between;
    color: white;
    width: 100%;
    height: 10%;



}

/* .footer1left {
    align-items: center;
    text-align: left;

    color: white;

} */

.footer1right {
    margin-top: 1rem;
}

.footer2 {margin-top: 0rem;
    align-items: flex-start;
    color: white;
    justify-content: space-between;

    flex-wrap: wrap;
    display: flex;
}

/* .circle {
 
    margin-bottom: 1rem;
} */

.born {
 
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 3rem;
    width: 100%;
    height: 3px;
    background-color: white;

}

.timeup {
    opacity: 50%;
}

.timeout {
    opacity: 50%;
}

/* .cercle{margin-top: 1rem;
    width: 40px;
    height:5px;
    border-radius: 20px;
    background: white;} */

.footer3 {margin-bottom: 5rem;
    align-items: center;

    color: white;
    justify-content: space-between;

    flex-wrap: wrap;
    display: flex;
}

.test {
    font-size: 4rem;
}

.footer4 {
    opacity: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 6rem;
    justify-content: space-between;
    color: white;
    width: 90%;
    height: 10%;


}



.footer4right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.share {
    margin-right: 1rem;
}